<%= call_hook :view_account_login_top %>

<div id="login-form">
  <center>
    <p><img src="/images/manag-portf.png" width="180"></p>
    <p><img src="/images/thin_min.png" width="240"></p>
  </center>
  <%= form_tag(signin_path, onsubmit: 'return keepAnchorOnSignIn(this);') do %>
  <%= back_url_hidden_field_tag %>
  <table width = "260px">
    <tr><td><span class="fas fa-user-alt fa-2x fa-lg"></span> </td>
    <td><%=text_field_tag 'username', params[:username],:class => 'width: 10', :placeholder  =>  l(:label_user) ,:tabindex => '1' %></td></tr>
    <tr><td><span class="fas fa-lock fa-2x fa-lg"></span> </td>
    <td><%= password_field_tag 'password', nil, :placeholder  => l(:field_password) , :tabindex => '2' %></td></tr>
 </table>
  <% if Setting.openid? %>
    <label for="openid_url"><%=l(:field_identity_url)%></label>
    <%= text_field_tag "openid_url", nil, :tabindex => '3' %>
  <% end %>
  
  <% if Setting.autologin? %>
    <label for="autologin"><%= check_box_tag 'autologin', 1, false, :tabindex => '4' %> <%= l(:label_stay_logged_in) %></label>
  <% end %>
  
  <input type="submit" name="login" value="<%=l(:button_login)%>" tabindex="5" id="login-submit" />
  <% end %>
   <%= link_to l(:label_password_lost), lost_password_path, :class => "lost_password" if Setting.lost_password? %>
</div>

<%= call_hook :view_account_login_bottom %>

<% if params[:username].present? %>
<%= javascript_tag "$('#password').focus();" %>
<% else %>
<%= javascript_tag "$('#username').focus();" %>
<% end %>
